{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "overrides": [{ "files": ".prettierrc", "options": { "parser": "json" } }],
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react(.*)",
    "^antd",
    "^@ant",
    "<THIRD_PARTY_MODULES>",
    "^@\\w",
    "^@/utils/*",
    "^@components/(.*)$",
    "^@(.*)",
    "^[./]"
  ]
}
